<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME | Admission Portal</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <!-- <link rel="stylesheet" href="CSS/firstfiddle.css" /> -->
    <link rel="icon" href="Images/logo.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <!-- <script src="JS/bootstrap.bundle.min.js"></script> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <div class="container-fluid" style="padding: 5px 12px">
        <a href="home.html">
          <img src="" class="weblogo mx-5" />
          <!-- <img
            src="https://pn-paul.netlify.app/image/logo-for-mobile.png"
            alt=""
            class="moblogo" /> -->
        </a>
        <!--menu button-->
        <button
          class="navbar-toggler"
          data-bs-target="#a"
          data-bs-toggle="collapse">
          <!--3 lines-->
          <span class="navbar-toggler-icon"></span
          ><!--icon-->
        </button>
        <!--navbar-collapse start-->
        <div class="navbar-collapse collapse" id="a">
          <ul class="navbar-nav ms-auto text-center">
            <li><a href="home.html" class="nav-link">Home</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <li><a href="#" class="nav-link">Login</a></li>
            <li></li>
            <li><a href="#" class="nav-link"><%= n %></a></li>
            <li>
              <a href="#" class="nav-link" style="margin-right: 20px"
                >Register</a
              >
            </li>
            <li>
              <a href="/logout" class="nav-link" style="margin-right: 20px"
                >Log Out</a
              >
            </li>
            <!-- <li><a href="contact.html" class="nav-link">contact</a></li>
          <li><a href="careers.html" class="nav-link">careers</a></li> -->
            <!-- <li>
            <a href="#" class="nav-link" style="border: 1px orange solid">FRANCHISE</a>
          </li> -->
          </ul>
        </div>
        <!--navbar-collapse end-->
      </div>
    </nav>
  </body>
</html>
